@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>

<body>


<h2>@Model.Message</h2>


<form method="get">

    <input type="image">    
  
</form>


<form method="post">
<div align="right">
<table>
    
    <p>Количество строк </p>
    <input type="number" name="sum1" /><br><br>
    <p>Количество столбцов </p>
    <input type="number" name="sum2" /><br><br>
    <p>Количество автомобилей </p>
    <input type="number" name="sum3" /><br><br>
    <p>Минимальная скорость </p>
    <input type="number" name="sum4" /><br><br>
    <p>Максимальная скорость </p>
    <input type="number" name="sum5" /><br><br>
    <input type="number" name="sum1" />
    <input type="number" name="sum2" />
    <input type="submit" value="Подключиться" />
     
    
</form>

</body>


</html>