@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>@Model.Message</h2>

<form method="post">

   <img src="Resources/House.jpg" width="100" height="111"/>
   
    <p>Количество строк </p>
    <input type="number" name="countRow" value="5"/>
    <p>Количество столбцов </p>
     <input type="number" name="countColumm" value="5"/>
    <p>Количество автомобилей </p>
    <input type="number" name="countCar" value="5"/>
    <p>Минимальная скорость </p>
    <input type="number" name="minSpeed" value="10"/>
    <p>Максимальная скорость </p>
    <input type="number" name="maxSpeed" value="100"/>
    <p></p>
    <input type="submit" value="Подключиться" />
  
</form>