@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>@Model.Message</h2>

<table>
    <tr>
        <td>
            <form method="get">
                <canvas id="canvas1"></canvas>
                    <script>
                        (function(){
                            var canvas = document.getElementById('canvas1');
                            canvas.width = 1000;
                            canvas.height = 500;
                            var context = canvas.getContext('2d');
                            var image1 = new Image();
                            image1.src = "Images/House.jpg";
                            image1.onload = function(){
                                context.drawImage(omage1, 0, 0)
                            };
                        })();
                    </script>
            </form>
        </td>
        <td>
            <form method="post">
                <div align="right">
                    <p>Количество строк </p>
                    <input type="number" name="countRow" value="5"/>
                    <p>Количество столбцов </p>
                    <input type="number" name="countColumm" value="5"/>
                    <p>Количество автомобилей </p>
                    <input type="number" name="countCar" value="5"/>
                    <p>Минимальная скорость </p>
                    <input type="number" name="minSpeed" value="10"/>
                    <p>Максимальная скорость </p>
                    <input type="number" name="maxSpeed" value="100"/>
                    <p></p>
                    <input type="submit" value="Подключиться" />
                </div>
            </form>
        </td>
    </tr>
</table>



