/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #926ac4;
}

.btn-primary {
    color: #12ff00;
    background-color: #12ff00;
    border-color: #12ff00;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #12ff00;
    background-color: #12ff00;
    border-color: #12ff00;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    color: #12ff00;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: darkslateblue;
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: linear-gradient(#7d669a,#aaa8ae) fixed;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
p {
    position: relative;
    left: 800px;
    right: 24px;
    bottom: 1000px;
    top: auto;
    color: black;
    font-size: 18px;
}
p1 {
    position: relative;
    left: 800px;
    right: 24px;
    bottom: 1000px;
    top: auto;
    color: black;
    font-size: 18px;
}
input {
    position: relative;
    left: 800px;
    right: 24px;
    bottom: 1000px;
    top: auto;
    border-style: inset;
    border-color: rebeccapurple;
    font-size: 18px;
}
select {
    position: relative;
    left: 800px;
    right: 24px;
    bottom: 1000px;
    top: auto;
    border-style: inset;
    border-width: medium;
    border-color: rebeccapurple;
    font-size: 18px;
}

/*    input [image] {
        position: absolute;
        left: 24px;
        right: 1110px;
    }

    input [sumbit] {
        position: fixed;
        left: 24px;
        right: 1110px;
    }

    input [number] {
         position: absolute;
        left: 1110px;
        right: 24px;
    }*/